VITE_APP_BASE_URL=http://localhost:8000
VITE_APP_URL=http://localhost:3000
VITE_OWNER_URL=http://localhost:3001
VITE_APP_GOOGLE_API_KEY=AIzaSyBI8CYunY2aiKLp6G50J7X7JNlZ9htT3xQ
VITE_APP_FB_APP_ID=824972436357584
VITE_APP_GG_APP_ID=260834893968-mjni6cdjpkgus8sjson2usn1vkk13bob.apps.googleusercontent.com

# VITE_APP_BASE_URL=https://parking-api.inqdemo.com
# VITE_APP_URL=https://parkinguserdemo.inqdemo.com
# VITE_OWNER_URL=https://parkingownerdemo.inqdemo.com
# VITE_APP_GOOGLE_API_KEY=AIzaSyBI8CYunY2aiKLp6G50J7X7JNlZ9htT3xQ
# VITE_APP_FB_APP_ID=824972436357584
# VITE_APP_GG_APP_ID=260834893968-mjni6cdjpkgus8sjson2usn1vkk13bob.apps.googleusercontent.com